<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Leckerli+One&family=Yuji+Mai&display=swap" rel="stylesheet">

        <!-- css file links -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
    </head>
    <body>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1>Jozlin<span class="fancy-writing">.ART</span></h1>
                </div>
                <ul class="navbar"> 
                    <a href="/"><li>Home</li></a>
                    <a href="/gallery"><li>Gallery</li></a>
                    <a href="/aboutme"><li>About Me</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </div>
        </div>
        <div class="background-container">
            <div class="aboutme-background">
                <div class="aboutme-box">
                    <div class="aboutme-img">
                        <img src="../static/images/JozArtBackground.jpg" alt="Sorry, unable to load this image" width="504">
                    </div>
                    <div class="description">
                        <div class="header-box">
                            <h1 class="fancy-writing">Hey, I'm Jozlin Schmidt</h1>
                        </div>
                        <div class="paragraph-box">
                            <p>
                                Hey, welcome to my website! I'm Jozlin, an Studio Art Major and Marketing minor at Concordia Univerisity 
                                of Nebraska. I am also on the dance team here :P I love spending time with people, enjoying nature, 
                                dancing, boba, art, and rasberries. My passion for art started at very young age and through the aid of 
                                my artistically gifted family, I was able to grow into the artist I am today.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>