<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Leckerli+One&family=Yuji+Mai&display=swap" rel="stylesheet">

        <!-- css file links -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
    </head>
    <body>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1>Jozlin<span class="fancy-writing">.ART</span></h1>
                </div>
                <ul class="navbar">
                    <a href="/"><li>Home</li></a>
                    <a href="/gallery"><li>Gallery</li></a>
                    <a href="/aboutme"><li>About Me</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </div>
        </div>
        <div class="background-container">
            <div class="gallery">
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Joz Art Website Images/Joz_Art_1.jpg">
                    <img src="../static/images/Joz Art Website Images/Joz_Art_1.jpg" alt="Joz Art" width="604" height="872">
                </a>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Joz Art Website Images/Joz_Art_2.jpg">
                    <img src="../static/images/Joz Art Website Images/Joz_Art_2.jpg" alt="Joz Art" width="654" height="615">
                </a>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Joz Art Website Images/Joz_Art_3.jpg">
                    <img src="../static/images/Joz Art Website Images/Joz_Art_3.jpg" alt="Joz Art" width="756" height="1008">
                </a>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Joz Art Website Images/Joz_Art_4.jpg">
                    <img src="../static/images/Joz Art Website Images/Joz_Art_4.jpg" alt="Joz Art" width="949" height="756">
                </a>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Joz Art Website Images/Joz_Art_5.jpg">
                    <img src="../static/images/Joz Art Website Images/Joz_Art_5.jpg" alt="Joz Art" width="683" height="686">
                </a>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Joz Art Website Images/Joz_Art_6.jpg">
                    <img src="../static/images/Joz Art Website Images/Joz_Art_6.jpg" alt="Joz Art" width="756" height="1008">
                </a>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Joz Art Website Images/Joz_Art_7.jpg">
                    <img src="../static/images/Joz Art Website Images/Joz_Art_7.jpg" alt="Joz Art" width="861" height="861">
                </a>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Joz Art Website Images/Joz_Art_8.jpg">
                    <img src="../static/images/Joz Art Website Images/Joz_Art_8.jpg" alt="Joz Art" width="700" height="916">
                </a>
            </div>
            </div>
        </div>
    </body>
</html>