<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Leckerli+One&family=Yuji+Mai&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
    </head>
    <body>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1>Jozlin<span class="fancy-writing">.ART</span></h1>
                </div>
                <ul class="navbar">
                    <a href="/"><li>Home</li></a>
                    <a href="/gallery"><li>Gallery</li></a>
                    <a href="/aboutme"><li>About Me</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Cooper_1.jpg">
                    <img src="../static/images/Cooper_1.jpg" alt="Cooper" width="600" height="400">
                </a>
                <div class="desc">My cat cooper</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Wrestling_1.jpg">
                    <img src="../static/images/Wrestling_1.jpg" alt="wrestling" width="600" height="400" class="rounded">
                </a>
                <div class="desc">wrestling</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Wrestling_3.jpg">
                    <img src="../static/images/Wrestling_3.jpg" alt="wrestling" width="600" height="400">
                </a>
                <div class="desc">wrestling</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="../static/images/Oct_Photoshoot_0956.jpg">
                    <img src="../static/images/Oct_Photoshoot_0956.jpg" alt="photoshoot" width="600" height="400">
                </a>
                <div class="desc">Oct photoshoot</div>
            </div>
        </div>
    </body>
</html>