<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Leckerli+One&family=Yuji+Mai&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
    </head>
    <body>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1>Jozlin<span class="fancy-writing">.ART</span></h1>
                </div>
                <ul class="navbar">
                    <a href="/"><li>Home</li></a>
                    <a href="/gallery"><li>Gallery</li></a>
                    <a href="/aboutme"><li>About Me</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </div>
        </div>
        <div class="background-container">
                <img src="../static/images/Home_Background_Img.jpg" alt="Sorry, unable to load this image" class="intro-image">
        </div>
    </body>
</html>